#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    
}

#players{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#root{
    background-color: grey;

    height: 100vh;
}

#players button{
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
}

#players button:hover{
    cursor: pointer;
}